---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Faqs as Props } from '~/types';
import Button from '../ui/Button.astro';
import ItemGridFAQ from '../ui/ItemGridFAQ.astro';

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],
  actions = await Astro.slots.render('actions'),

  id,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <ItemGridFAQ
    items={items}
    defaultIcon="tabler:chevron-right"
    classes={{
      panel: 'max-w-none',
      icon: 'flex-shrink-0 mt-1 w-6 h-6 sm:w-8 sm:h-8  text-primary',
    }}
  />
  {
              actions && (
                <div class="max-w-xs sm:max-w-md mt-6 m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-2 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
                  {Array.isArray(actions) ? (
                    actions.map((action) => (
                      <div class="flex w-full sm:w-auto">
                        <Button {...(action || {})} class="w-full sm:mb-4" />
                      </div>
                    ))
                  ) : (
                    <Fragment set:html={actions} />
                  )}
                </div>
              )
            }
</WidgetWrapper>
